
{{#each itemList}}
<div class="bookItem">
    <p><b>{{title}}</b></p>
    <b>Authors: </b>{{authors}}
    <b>Published Date: </b>{{publishedDate}}
    <b>Preview: </b><a href="{{previewLink}}">More information here!</a>
    <img src="{{imageLink}}" alt="Book Image">
</div><br>
{{/each}}