<div class="bookItem">
    <b>{{title}}</b><br>
    <b>Authors: </b>{{authors}}<br>
    <b>Published Date: </b>{{publishedDate}}<br>
    <b>Preview: </b>{{previewLink}}<br>
    <img src="{{imageLink}}" alt="Book Image">
</div>